.container {
    max-width: 700px;
    margin: auto;
    margin-top: 15rem;
    background: #1474C8;
    color: #efeaee;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid white;
    font-family: Arial, sans-serif;
}

#playlist {
    background: rgb(139, 172, 202);
    list-style: none;
}

.font {
    font-size: 20px;
}

.text {
    font-size: 20px;
    padding: 1rem;
}

#loader {
    font-size: 20px;
    display: none;
}

.btn {
    margin-top: 1rem;
    padding: .50rem;
    font-size: 15px;
    background: #2a60f2;
    color: white;
    border: none;
    border-radius: 25px;
}

.btn:hover {
    background: #3634cb;
}

body {
    height: 100vh;
    background: black;
}